:root {
  /* Light mode */
  --light-text: #40424c;
  --light-text-2: #26272c;
  --light-text-hover: rgb(110 110 110)
  --light-text-2-hover: #40424c;
  --light-canvas-line: rgba(240, 240, 240, .7);
  --light-bg-0: #ffffff;
  --light-bg-1: #eeeeee;
  --light-bg-2 : #fbfbfb;
  --light-bg-3 : #f3f3f3;
  --light-bg-4 : #eaeaea;
  --light-border : #bbb;
  --light-bg-input : #eee;
  --light-bg-input-hover : #ddd;
  --light-bg-3-hover: #e9e9e9;
  --light-bg-4-hover: #d2d2d2;
  --light-theme: #10bfd2;
  --light-theme-hover: #0b828e;
  --light-scrollthumb: #ddd;
  --light-scrollbar: #fff;
  --light-btn-text: #40424c;
  --light-btn-text-hover: #31323a;
  --light-btn-bg: #e0e6ff;
  --light-btn-bg-hover: #cdd3e9;
  --light-completed-activity: #97f2ab;
  --light-completed-activity-border: #61bb75;
  --light-on-going-activity: #fbd895;
  --light-on-going-activity-border: #dfae4e;
  --light-empty-activity: #fb9196;
  --light-empty-activity-border: #ee577d;
  --light-LSH-a: #80979c;
  --light-LSH-fg: #657b83;
  --light-LSH-p1: #CE356B;
  --light-LSH-p2: #cb4b16;
  --light-LSH-p3: #b58900;
  --light-LSH-p4: #2aa198;
  --light-LSH-p5: #268bd2;
  --light-LSH-p6: #8c51b4;
  --light-img-filter : brightness(0.958);

  /* Dark mode */
  --dark-text: #8b888f;
  --dark-text-2: #bfbac5;
  --dark-text-hover: #f7f7f7;
  --dark-text-2-hover: #88858c;
  --dark-canvas-line: rgba(88, 88, 88, 0.7);
  --dark-bg-0: #222222;
  --dark-bg-1: #131313;
  --dark-bg-2 : #212122;
  --dark-bg-3 : #191919;
  --dark-bg-4 : #191919;
  --dark-border : #000;
  --dark-bg-input : #444;
  --dark-bg-input-hover : #303030;
  --dark-bg-3-hover: #333;
  --dark-bg-4-hover: #424242;
  --dark-theme: #40b2bf;
  --dark-theme-hover: #27737b;
  --dark-scrollthumb: #444;
  --dark-scrollbar: #292929;
  --dark-btn-text: #bbbbbb;
  --dark-btn-text-hover: #9e9e9e;
  --dark-btn-bg: #4b5063;
  --dark-btn-bg-hover: #3c4152;
  --dark-completed-activity: #7bd88f;
  --dark-completed-activity-border: #3f8b50;
  --dark-on-going-activity: #f0c674;
  --dark-on-going-activity-border: #c79c47;
  --dark-empty-activity: #ff6188;
  --dark-empty-activity-border: #c94163;
  --dark-LSH-a: #a2a0a2;
  --dark-LSH-fg: #F7F1FF;
  --dark-LSH-p1: #fc618d;
  --dark-LSH-p2: #fd9353;
  --dark-LSH-p3: #FFD866;
  --dark-LSH-p4: #7bd88f;
  --dark-LSH-p5: #5ad4e6;
  --dark-LSH-p6: #948ae3;
  --dark-img-filter: invert(0.9);

  /* Default mode */
  --text: var(--light-text);
  --text-2: var(--light-text-2);
  --text-hover: var(--light-text-hover);
  --text-2-hover: var(--light-text-2-hover);
  --canvas-line: var(--light-canvas-line);
  --bg-0: var(--light-bg-0);
  --bg-1: var(--light-bg-1);
  --bg-2: var(--light-bg-2);
  --bg-3: var(--light-bg-3);
  --bg-4: var(--light-bg-4);
  --border : var(--light-border);
  --bg-input : var(--light-bg-input);
  --bg-input-hover : var(--light-bg-input-hover);
  --bg-3-hover : var(--light-bg-3-hover);
  --bg-4-hover : var(--light-bg-4-hover);
  --theme : var(--light-theme);
  --color: var(--light-text);
  --bg-color: var(--light-bg-0);
  --theme-color: var(--light-theme);
  --theme-color-hover: var(--light-theme-hover);
  --scrollthumb-color: var(--light-scrollthumb);
  --scrollbar-color: var(--light-scrollbar);
  --btn-text: var(--light-btn-text);
  --btn-text-hover: var(--light-btn-text-hover);
  --btn-bg: var(--light-btn-bg);
  --btn-bg-hover: var(--light-btn-bg-hover);
  --completed-activity: var(--light-completed-activity);
  --completed-activity-border: var(--light-completed-activity-border);
  --on-going-activity: var(--light-on-going-activity);
  --on-going-activity-border: var(--light-on-going-activity-border);
  --empty-activity: var(--light-empty-activity);
  --empty-activity-border: var(--light-empty-activity-border);
  --LSH-a: var(--light-LSH-a);
  --LSH-fg: var(--light-LSH-fg);
  --LSH-p1: var(--light-LSH-p1);
  --LSH-p2: var(--light-LSH-p2);
  --LSH-p3: var(--light-LSH-p3);
  --LSH-p4: var(--light-LSH-p4);
  --LSH-p5: var(--light-LSH-p5);
  --LSH-p6: var(--light-LSH-p6);
  --img-filter: var(--light-img-filter);
  /* Gradients https://bennettfeely.com/scales/ */
  /*? 'Gradient_' Needed */
  --Gradient_YlGnBu: linear-gradient(90deg, #ffffd9, #eff9bd, #d5efb3, #a9ddb7, #74c9bd, #46b4c2, #2897bf, #2073b2, #234ea0, #1d3185, #1d3185);
  --Gradient_viridis:linear-gradient(90deg, #440154, #482475, #414487, #355f8d, #2a788e, #21908d, #22a884, #42be71, #7ad151, #bddf26, #bddf26);
  --Gradient_plasma:linear-gradient(90deg, #0d0887, #41049d, #6a00a8, #8f0da4, #b12a90, #cb4679, #e16462, #f1834c, #fca636, #fcce25, #fcce25);
  --Gradient_spectral: linear-gradient(90deg, #9e0142, #d13b4b, #f0704a, #fcab63, #fedc8c, #fbf8b0, #e0f3a1, #aadda2, #69bda9, #4288b5, #4288b5);
  --Gradient_cool: linear-gradient(90deg, #6e40aa, #6154c8, #4c6edb, #368ce1, #24aad8, #1ac7c2, #1ddea3, #30ee83, #52f667, #7ef658, #7ef658);
  --Gradient_RdBu: linear-gradient(90deg, #67001f, #ab202e, #d55f50, #f0a285, #fad6c3, #f2efee, #cde3ee, #90c2dd, #4b94c4, #2265a3, #2265a3);
  --Gradient_PiYG: linear-gradient(90deg, #8e0152, #c0267e, #dd72ad, #f0b2d6, #fadded, #f5f3ef, #e1f2ca, #b7de88, #81bb48, #4f9125, #4f9125);
  --Gradient_PuOr: linear-gradient(90deg, #7f3b08, #b15a09, #dd841f, #f8b664, #fdddb2, #f3eeea, #d7d7e9, #b0aad0, #8170ad, #552d84, #552d84);
  --Gradient_BrBG: linear-gradient(90deg, #543005, #8b530f, #bc8434, #ddbd7b, #f2e4bf, #eef1ea, #c3e7e2, #80c9bf, #399890, #0a675f, #0a675f);
}

#theme-switch:checked ~ * {
  --text: var(--dark-text);
  --text-2: var(--dark-text-2);
  --text-hover: var(--dark-text-hover);
  --text-2-hover: var(--dark-text-2-hover);
  --canvas-line: var(--dark-canvas-line);
  --bg-0: var(--dark-bg-0);
  --bg-1: var( --dark-bg-1);
  --bg-2: var( --dark-bg-2);
  --bg-3: var( --dark-bg-3);
  --bg-4: var( --dark-bg-4);
  --border : var(--dark-border);
  --bg-input : var(--dark-bg-input);
  --bg-input-hover : var(--dark-bg-input-hover);
  --bg-3-hover : var(--dark-bg-3-hover);
  --bg-4-hover : var(--dark-bg-4-hover);
  --theme : var(--dark-theme);
  --color: var(--dark-text);
  --bg-color: var(--dark-bg-0);
  --theme-color: var(--dark-theme);
  --theme-color-hover: var(--dark-theme-hover);
  --scrollthumb-color: var(--dark-scrollthumb);
  --scrollbar-color: var(--dark-scrollbar);
  --btn-text: var(--dark-btn-text);
  --btn-text-hover: var(--dark-btn-text-hover);
  --btn-bg: var(--dark-btn-bg);
  --btn-bg-hover: var(--dark-btn-bg-hover);
  --completed-activity: var(--dark-completed-activity);
  --completed-activity-border: var(--dark-completed-activity-border);
  --on-going-activity: var(--dark-on-going-activity);
  --on-going-activity-border: var(--dark-on-going-activity-border);
  --empty-activity: var(--dark-empty-activity);
  --empty-activity-border: var(--dark-empty-activity-border);
  --LSH-fg: var(--dark-LSH-fg);
  --LSH-p1: var(--dark-LSH-p1);
  --LSH-p2: var(--dark-LSH-p2);
  --LSH-p3: var(--dark-LSH-p3);
  --LSH-p4: var(--dark-LSH-p4);
  --LSH-p5: var(--dark-LSH-p5);
  --LSH-p6: var(--dark-LSH-p6);
  --img-filter: var(--dark-img-filter);
}
* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
}
@font-face {
  font-family: 'Fira Code';
  src: url('../../resources/fonts/FiraCode-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../../resources/fonts/FiraCode-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../../resources/fonts/FiraCode-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../../resources/fonts/FiraCode-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../../resources/fonts/FiraCode-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  font-family: 'Fira Code';
}
*::selection {
  color: #000;
  background-color: var(--theme);
}
.hidden {
  display: none;
}

.panel {
  background-color: var(--bg-3);
  border: solid 1px var(--border);
  border-radius: 2px;
  font-family: 'Arial', sans-serif;
  padding: 10px;
}


body > .header{
  color: var(--text);
  font-size: 20px;
  font-weight: bold;
  font-family: Inter, Roboto, sans-serif;
  background-color: var(--bg-1);
  border-bottom: solid 1px var(--border);
  width: 50px;
  min-width: 50px;
  height: 100%;
  display: flex;
  flex-flow: column;
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: space-between;
}

body> .header ul {
  margin: 0;
  list-style-type: none;
}

body> .header li {
  margin: 0;
  height:40px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: default;
}
body> .header li.separator {
  height:5px;
  margin: 10px 10px 5px 10px;
  padding: 0;
  cursor: default;
  border-top: 1px solid var(--text);
}
body> .header :is(li:not(.text-logo),li:not(.text-logo)>label)>a{
  display: block;
  text-align: center;
  padding-right: 15px;
  text-decoration: none;
  cursor: pointer;
  fill: var(--text);
  color: var(--text);
  background: var(--text);
  margin-left: 50%;
  transform: translate(-50%, 0%);
}
body> .header li.text-logo>a {
  font-size: 1.25em;
  cursor: pointer;
}
body> .header li.text-logo>a>.text-rest {
  font-size: 0.3em;
  cursor: pointer;
}
.text-logo{
  text-align: center;
}

body> .header :is(li:not(.text-logo),li:not(.text-logo)>label)>a:hover {
  background: var(--theme-color);
}
body> .header li.text-logo>a:hover {
  color: var(--theme-color);
}

body> .header :is(li:not(.text-logo).active,li:not(.text-logo).active>label)>a{
  background: var(--theme-color);
}
body> .header :is(li.active,li.active>label)>a{
  color: var(--theme-color);
}

body> .header li.active{
  border-left: solid 2px var(--theme-color);
}

/* Dropdown Button */
.dropbtn {
  display: block;
  text-align: center;
  padding-right: 15px;
  text-decoration: none;
  cursor: pointer;
  color: var(--text);
  background: var(--text);
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background: var(--theme-color);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  display: inline-block;
  font-size: 16px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--bg-3);
  min-width: 200px;
  width: max-content;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 50px;
  top: -50px;
}

/* Links inside the dropdown */
.dropdown-content a {
  background-color: var(--bg-3);
  border: 1px solid var(--border);
  color: var(--text);
  display:block;
  font-size: 1em;
  width: auto;
  padding: 5px 5px 5px 10px;
  cursor: pointer;
}

:-moz-any(.dropdown-content a){
  font-size: 0.9em;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: var(--bg-3-hover);
  color: var(--text-hover);
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.content{
  width: 100%;
  height: 100%;
}


::-webkit-scrollbar {
  width: 6px!important;
  height: 6px!important;
}
::-webkit-scrollbar-track-piece  {
  background-color: var(--scrollbar-color);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--scrollthumb-color);
}





input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 32px;
	height: 10px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}
.gradient-viewer{
  display:inline-block;
  width:100%;
  height:20px;
  transform: translateY(5px);
}

.swal2-popup{
  background: var(--bg-0) !important;
}
.swal2-title, .swal2-html-container{
  color: var(--text) !important;
}
.swal2-styled.swal2-confirm{
  background-color: var(--theme-color) !important;
}
.swal2-timer-progress-bar{
  background: rgba(0,0,0,.8) !important;
}





.manager-container{
  background-color: var(--bg-2);
  margin: auto;
  color: var(--text);
}
.manager-content{
  overflow: auto; /* Enable scroll if needed */
  height: 100%; /* Full height */
}




.context-menu { 
  position: absolute; 
  z-index: 9999;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
} 
.context-menu > div { 
  position: absolute; 
} 
.context-menu > div > ul {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-3);
  border-radius: 5px;
  box-shadow: 0 10px 20px rgb(64 64 64 / 50%);
  border: 1px solid var(--border);
}
.context-menu > div > ul > li {
  font: inherit;
  border: 0;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  font-family: Helvetica, sans-serif;
  text-decoration: unset;
  color: var(--btn-text);
  transition: 0.15s linear;
  -webkit-transition: 0.15s linear;
  -moz-transition: 0.15s linear;
  -ms-transition: 0.15s linear;
  -o-transition: 0.15s linear;
  cursor: pointer;
  padding: 6px 10px;
}
.context-menu > div > ul > li::before{
  padding-right: 10px;
}
.context-menu > div > ul > li:hover {
  /*background: linear-gradient(var(--bg-3),var(--bg-3-hover)15%,var(--bg-3-hover)85%,var(--bg-3));*/
  background-color: var(--bg-3-hover);
  color: var(--theme-color);
}



::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
::-webkit-scrollbar-track-piece  {
  background-color: var(--scrollbar-color);
}
::-webkit-scrollbar-thumb {
  height: 30px;
  background-color: var(--scrollthumb-color);
}

/*
use in serverFileManager 
*/
[class^="icon-file"]:before,
[class*=" icon-file"]:before {
  color: var(--LSH-fg);
  margin-right: 5px;
  font-size: 15px;
}
.color1:before{
  color:var(--LSH-p1);
}
.color2:before{
  color:var(--LSH-p2);
}
.color3:before{
  color:var(--LSH-p3);
}
.color4:before{
  color:var(--LSH-p4);
}
.color5:before{
  color:var(--LSH-p5);
}
.color6:before{
  color:var(--LSH-p6);
}


.added-diff {
  color: var(--LSH-p4);
}
.removed-diff {
  color: var(--LSH-p1);
}
.modified-diff {
  color: var(--LSH-p2);
}
#diffEditor{
  background-color: var(--bg-0);
}