
csv-table{
    font-size:14px
  }
  csv-table tr.even {
    background: var(--bg-3);;
  }
  
  csv-table th {
    background-color: var(--bg-3);
    border-bottom: solid 2px var(--border);
    color: var(--text);
    padding: 0.5em 0.5em;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  csv-table th:hover {
    background-color: var(--bg-0);
    border-bottom: solid 2px var(--theme);
  }
  
  csv-table .headerSortDown,
  csv-table .headerSortUp {
    border-bottom-color: var(--theme);
    background-color: var(--bg-0);
    padding-right: 20px;
  }
  
  csv-table .headerSortDown>span:before,
  csv-table .headerSortUp>span:before {
    content: '';
    position: absolute;
    right: 6px;
    top: 50%;
    border: 5px solid transparent;
  }
  
  csv-table .headerSortDown>span:before {
    border-bottom-color: var(--text);
    margin-top: -7px;
  }
  
  csv-table .headerSortUp>span:before {
    border-top-color: var(--text);
    margin-top: -2px;
  }
  
  csv-table thead tr {
    cursor: pointer;
    padding-right: 2em;
    border-right: 1px solid var(--border);
  }
  
  csv-table td {
    color: var(--text);
    padding: 0.25em 0.5em;
    vertical-align: middle;
    white-space: nowrap;
    border: none;
    border-bottom: 1px solid var(--border);
    border-right: 1px solid var(--border);
  
  }
  
  csv-table td.editing {
    padding: 0;
  }
  
  csv-table td input {
    width: 100%;
    border: 0px;
    height: 21px;
    padding: 0.25em 0.5em;
    background-color: var(--bg-input);
    color: var(--text)!important;
    font-size: 14px;
    font-family: 'Fira Code';
    -webkit-appearance: none;
  }
  
  
  csv-table td:nth-of-type(1) {
    background: rgba(125, 125, 125, 0.15);
  }
  
  csv-table tr:nth-child(even),
  csv-table tr:nth-child(even) input {
    background: rgba(125, 125, 125, 0.15);
  }



  .table-info-container {
    font-size: 16px;
    align-items: center;
  }
  .table-info-container input {
    width: 50px;
    background-color: var(--bg-2);
    border: solid 1px var(--text-2);
    border-radius: 2px;
    font-weight: bold;
    color: var(--text);
    height: 25px;
    padding: 5px;
  }
  
  .table-info-container .pagination a {
    padding: 5px 10px;
    margin: 0 2px;
    cursor: pointer;
    background-color: #333;
    border-radius: 5px;
    color: #dfdfdf;
  }
  
  .table-info-container .pagination a.current {
    color: var(--theme);
  }