
.panel-title{
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 25%;
    width: 50%;
    height: min-content;
    font-family: Inter, Roboto, sans-serif;
    background-color: var(--bg-1);
    border-bottom: solid 1px var(--border);
    color: var(--text);
    border-radius: 0px 0px 10px 10px;
    min-width: 200px;
    padding: 5px;
    font-size: 13px;
    text-align: center;
  }
  .panel-error{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 22px;
    font-family: 'Fira Code';
    background-color: rgb(202, 25, 25);
    color: #fff;
    border-top: solid 1px var(--border);
    min-width: 200px;
    padding: 5px;
    font-size: 11px;
    z-index: 1;
  }
  
  .panel-button-right{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 75px;
    font-family: Inter, Roboto, sans-serif;
    background-color: var(--bg-1);
    border-bottom: solid 1px var(--border);
    color: var(--text);
    border-radius: 0px 0px 0px 10px;
    padding: 8px;
    font-size: 13px;
    text-align: center;
    z-index:1
  }
  .panel-button-right a{
    display: block;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: none;
    cursor: pointer;
    fill: var(--text);
    color: var(--text);
    background: var(--text);
  }
  
  .panel-button-right a:hover {
    fill: var(--theme-color);
    background: var(--theme-color);
  }
  .collapsable>span{
    cursor: pointer;
  }
  .djs-element .djs-hit-stroke,
  .djs-element .djs-hit-click-stroke,
  .djs-element .djs-hit-all {
    cursor: pointer !important;
  }
  
.djs-element .djs-outline {
    stroke-dasharray: 3, 3;
  }
  .djs-element.selected .djs-outline {
    stroke: var(--theme);
    stroke-width: 2px;
  }
  svg.new-parent {
    background: transparent !important;
  }
  g.new-parent {
    background: transparent !important;
  }
  
  .djs-element.hover .djs-outline {
    stroke: var(--theme-color-hover);
    stroke-width: 2px;
    visibility: visible;
  }
  
  .djs-element.hover.djs-connection .djs-outline {
    stroke-width: 0px;
  }
  
  .djs-bendpoint .djs-visual {
    stroke: var(--theme);
    stroke-width: 2px;
    stroke-opacity: 0.7;
  }
   .djs-bendpoint.hover .djs-visual {
    stroke: var(--theme-color-hover);
    stroke-opacity: 0.8;
  }
  .djs-resizer-visual {
    fill: var(--theme-color-hover);
    stroke-width: 2px;
    stroke-opacity: 0.7;
    stroke: var(--theme);
  }
  .djs-visual rect + text.djs-label {
    fill: black !important;
  }
  g.djs-connection > g.djs-visual > polyline {
    stroke: var(--text-2) !important;
  }
  .djs-visual rect+path+text.djs-label {
    fill: var(--text-2) !important;
  }
  .djs-label .LSH_t {
    fill: var(--LSH-p1);
  }
  .djs-label .LSH_a {
    fill: var(--LSH-a);
  }
  .djs-label .LSH_f {
    fill: var(--LSH-p4);
  }
  .djs-label .LSH_n {
    fill: var(--LSH-p6);
  }
  .djs-label .LSH_p1 {
    fill: var(--LSH-p1);
  }
  .djs-label .LSH_p2 {
    fill: var(--LSH-p2);
  }
  .djs-label .LSH_p3 {
    fill: var(--LSH-p3);
  }
  .djs-label .LSH_p4 {
    fill: var(--LSH-p4);
  }
  .djs-label .LSH_p5 {
    fill: var(--LSH-p5);
  }
  .djs-label .LSH_p6 {
    fill: var(--LSH-p6);
  }
  /*
  .djs-label {
    fill: var(--LSH-fg)!important;;
  }*/
  
  .djs-palette .entry, .djs-palette .djs-palette-toggle {
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 17px;
    cursor: pointer;
  }
  
  .djs-palette {
    top: 5px;
    left: 5px;
    width: 38px!important;
    background: var(--bg-1);
    border: solid 1px var(--border);
    border-radius: 6px;
  }
  .djs-container{
    background: var(--bg-0);
  }
  
  .djs-palette .entry {
    color: var(--text);
  }
  .djs-palette .entry:hover {
    color: var(--theme-color);
  }
  
  .djs-visual path {
    stroke: var(--text-2) !important;
  }
  
  marker path {
    fill: var(--text-2) !important;
  }
  
  .djs-context-pad .entry{
    background-color: var(--bg-3);
    color: var(--text);
    box-shadow: 0 0 2px 1px var(--bg-3);
  }
  .djs-context-pad .entry:hover{
    background-color: var(--bg-3-hover);
    color: var(--theme-color);
  }
  
  .bpmn-task-text-color .djs-label{
    fill: black !important;
  }
  
  .bjs-powered-by{
    display: none;
  }