#notebookGUI {
  position: absolute;
}
#notebookGUI .header-files-viewer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#notebookGUI .header-files-viewer {
    width: 100%;
    background-color: var(--bg-4);
    color: var(--text);
    font-family: Tahoma, Geneva, sans-serif;
    height: 40px;
    z-index: 3;
    overflow: hidden;
    padding: 0 10px;
    border-bottom: 1px solid var(--border);
  }
  #notebookGUI .header-files-viewer .tab {
    width:fit-content;
    cursor: pointer;
    height: 37px;
    word-wrap: nowrap;
    display: inline-block;
    padding: 10px 5px;
    user-select: none;
  }
  #notebookGUI .header-files-viewer .tab.selected {
    border-bottom: 1px solid var(--theme-color)!important;
  }
  #notebookGUI .header-files-viewer .tab.edited span:after {
    content: '⬤';
    color: var(--theme-color);
    vertical-align: middle;
    font-size: 10px;
    margin-left: 6px;
  }
  #notebookGUI .header-files-viewer .tab.selected:not(.edited) a {
    visibility: visible!important;
  }
  #notebookGUI .header-files-viewer .tab a {
    visibility: hidden;
    height:25px;
    padding:0 5px;
    border-radius: 4px;
    margin-left: 5px;
  }
  #notebookGUI .header-files-viewer .tab.edited a {
    margin-left:-15px;
  }
  #notebookGUI .header-files-viewer .tab:hover {
    border-bottom: 1px solid var(--text);
  }
  #notebookGUI .header-files-viewer .tab:hover a {
    visibility: visible;
  }
  #notebookGUI .header-files-viewer .tab a:hover {
    visibility: visible;
    background-color: var(--bg-input);
  }
  #notebookGUI .container-file-viewer {
    overflow-x: auto;
    height: 100%;
    background-color: var(--bg-3);
  }
  
  #notebookGUI .notebook {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--bg-4);
  }
  
  #notebookGUI .follow-theme .rightPanel > div > svg,
  #notebookGUI .follow-theme img,
   #notebookGUI .follow-theme .js-plotly-plot {
      filter: var(--img-filter);
  }
  #notebookGUI .rightPanel .markdown {
    width: 100%;
  }
  #notebookGUI .rightPanel .markdown a {
    color: var(--theme);
  }
  #notebookGUI .rightPanel .markdown * {
    margin: revert;
    padding: revert;
    outline: revert;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", "HelveticaNeue-Light", system-ui, "Ubuntu", "Droid Sans", sans-serif;
    --monaco-monospace-font: "SF Mono", Monaco, Menlo, Consolas, "Ubuntu Mono", "Liberation Mono", "DejaVu Sans Mono", "Courier New", monospace;
  }
  #notebookGUI .rightPanel .markdown blockquote {
    background-color: var(--bg-2);
  }
  #notebookGUI .rightPanel .markdown table {
    border-collapse: collapse;
  }
  #notebookGUI .rightPanel .markdown table td,#notebookGUI .rightPanel .markdown table th {
    padding: 3px 6px;
    border: 0;
    text-align: end;
  }
  #notebookGUI .rightPanel .markdown table tr:nth-child(even) {
    background-color: var(--bg-2);
  }
  
  #notebookGUI .rightPanel .markdown table tr:hover {
    background-color: var(--bg-3-hover);
  }
  
  #notebookGUI .rightPanel .markdown table thead th {
    padding-top: 4px;
    padding-bottom: 4px;
    vertical-align: middle;
    background-color: var(--theme);
    color: var(--dark-bg-0);
  }
  
  #notebookGUI .rightPanel .markdown table tbody tr th:only-of-type {
    vertical-align: middle;
  }
  
  #notebookGUI .rightPanel.dataframe tbody tr th {
    vertical-align: top;
  }
  
  #notebookGUI .rightPanel.dataframe thead th {
    text-align: right;
  }

  #notebookGUI .header-notebook {
    position: sticky;
    width: 100%;
    color: var(--text);
    background-color: var(--bg-4);
    height: 45px;
    z-index: 2;
    box-shadow: 3px 0px 5px var(--theme);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding: 0 10px;
    font-family: Tahoma, Geneva, sans-serif;
  }
  
  #notebookGUI .header-notebook>a,
  #notebookGUI .header-notebook>select{
    display: block;
    background-color: var(--bg-2);
    height: 30px;
    cursor: pointer;
    border: solid 1px var(--text-2);
    border-radius: 2px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    color: var(--text);
    font-family: Tahoma, Geneva, sans-serif;
    overflow: hidden;
    line-height: 20px;
    min-width: 35px;
  }
  
  #notebookGUI .header-notebook a.disable {
    background-color: var(--bg-input) !important;
    cursor: default !important;
  }
  
   #notebookGUI .header-notebook a:hover {
     background-color: var(--bg-3-hover);
   }
  
  #notebookGUI .cellsContainer{
    overflow-x: auto;
    height: calc(100% - 85px);
    background-color: var(--bg-3);
  }
  
  #notebookGUI .sourceCell{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  #notebookGUI .outputsCell {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-bottom: 25px;
    padding-top: 5px;
    font-size: 13px;
  }
  #notebookGUI .outputsCell .rightPanel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    overflow-x: auto;
    font-family: 'Fira Code';
    white-space: pre;
  }
  #notebookGUI .outputsCell .rightPanel img {
    max-width: 100%;
  }
  
  #notebookGUI .outputsCell .rightPanel p {
    width: 100%;
  }
  
  #notebookGUI .sourceCell .rightPanel {
    background-color: var(--bg-0);
    padding: 10px 0 18px 0;
    border-radius: 5px;
  }
  #notebookGUI .selected .sourceCell .rightPanel {
    border: solid 1px var(--text-2);
  }
  
  #notebookGUI .sourceCell .executionTime{
    font-size:10px;
    height:10px;
    padding: 2px 0 0 30px;
  }
  
  #notebookGUI .rightPanel {
    flex-grow: 1;
    position: relative;
    max-width:calc(100% - 50px);
  }
  #notebookGUI .leftPanel {
    min-width: 50px;
    position: relative;
  }
  
  #notebookGUI .leftPanel > h6 {
    position: absolute;
    bottom: 2px;
    right: 2px;
  }
  #notebookGUI .buttonSlot {
    background-color: var(--bg-2);
    border: solid 1px var(--text-2);
    position: absolute;
    height: 30px;
    top: 0;
    left: 60px;
    z-index: 1;
    padding: 4px;
    border-radius: 3px;
    display: none;
  }
  
  #notebookGUI .buttonSlot li {
    display: inline-block;
    width: 30px;
  }
  
  #notebookGUI .cell:nth-child(1) .buttonSlot li.up, #notebookGUI .cell:nth-last-child(-n+1) .buttonSlot li.down{
    display: none;
  }
  
  #notebookGUI .buttonSlot>li>a {
    display: block;
    color: var(--text-2);
    width: 17px;
    height: 17px;
    cursor: pointer;
    margin-left: 50%;
    transform: translate(-50%, 0%);
  }
  #notebookGUI .buttonSlot>li:hover>a {
    color: var(--theme);
  }
  
  #notebookGUI .bottomGroup {
    display: flex;
    justify-content: center;
    height: 30px;
    position: absolute;
    width: 100%;
    bottom: 0;
    gap: 20px;
  }
  #notebookGUI .bottomGroup a {
    display: block;
    background-color: var(--bg-2);
    height: 30px;
    cursor: pointer;
    border: solid 1px var(--text-2);
    border-radius: 2px;
    padding: 5px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
  }
  
  #notebookGUI .bottomGroup:hover a {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
  }
  
  #notebookGUI .bottomGroup a:hover  {
    background-color: var(--bg-3-hover);
  }
  
  #notebookGUI .cell:hover .buttonSlot {
    display: block;
  }
  /*
  #notebookGUI .selected .buttonSlot {
    display: block;
  }*/
  
  #notebookGUI .cell {
    background-color: var(--bg-3);
    color: var(--text-2);
    width: 100%;
    /*overflow-x: hidden;*/
    padding-right:15px;
    padding-top:20px;
    position: relative;
  }
  #notebookGUI .selected .leftPanel {
    border-left: solid 3px var(--theme);
  }
  #notebookGUI .rightPanel .dataframe{
    border-collapse: collapse;
  }
  #notebookGUI .rightPanel .dataframe td,#notebookGUI .rightPanel .dataframe th {
    padding: 3px 6px;
    border: 0;
    text-align: end;
  }
  #notebookGUI .rightPanel .dataframe tr:nth-child(even) {
    background-color: var(--bg-2);
  }
  
  #notebookGUI .rightPanel .dataframe tr:hover {
    background-color: var(--bg-3-hover);
  }
  
  #notebookGUI .rightPanel .dataframe thead th {
    padding-top: 4px;
    padding-bottom: 4px;
    vertical-align: middle;
    background-color: var(--theme);
    color: var(--dark-bg-0);
  }
  
  #notebookGUI .rightPanel .dataframe tbody tr th:only-of-type {
    vertical-align: middle;
  }
  
  #notebookGUI .rightPanel.dataframe tbody tr th {
    vertical-align: top;
  }
  
  #notebookGUI .rightPanel.dataframe thead th {
    text-align: right;
  }

  
#notebookActivity .hoverDrag {
    opacity: 0.5;/*
    background-color: ;var(--bg-3-hover)*/
  }

  #notebookGUI .global.find-widget.visible {
    transform: translateY(0);
  }

  #notebookGUI .global.find-widget {
    transform: translateY(calc(-100% - 57px));
  }

  #notebookGUI .cell:not(.selected) .monaco-editor .view-overlays .current-line {
    background-color: #00000000;
  }