
#parametersGUI .header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    display: inline-flex;
    gap:15px;
    font-size: 15px;
    flex-direction: row;
    color: var(--text);
    background-color: var(--bg-1);
  }#parametersGUI .header span{
    margin-top: 6px;
  }
  #parametersGUI .header div {
    margin-top: 2px;
  }
  #parametersGUI .header span:nth-child(1) {
    width: 25%;
  }
  #parametersGUI .header span:nth-child(2) {
    width: 6%;
  }
  #parametersGUI .header span:nth-child(3) {
    width: 6%;
    flex: 1 1 auto;
  }
  #parametersGUI .header span:nth-child(4) {
    width: 6%;
  }
  
  #parametersListGUI {
    position: absolute;
    width: 100% !important;
    height: calc(100% - 30px);
    overflow: auto !important;
    background-color: var(--bg-3);
    top: 30px;
  }
  
  .compilation-status {
    font-size: 14px;
    width: 12px;
  }
  
  .folder .cr.function{
      width:max-content;
  }
  .dg {
    color: var(--text)!important;
  }
  .dg li.title{
    background: var(--bg-4) url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat!important;
    color: var(--text-2)!important;
  }
  .dg li:not(.folder):not(.title) {
    background: var(--bg-2)!important;
    border-bottom: 1px solid var(--border)!important;
  }
  .dg li.odd:not(.folder):not(.title) {
    background-color: var(--bg-3) !important;
  }
  
  .dg .c input[type="text"], .dg .timeline input[type="text"]{
    background: var(--bg-input)!important;
    color: var(--theme-color)!important;
    min-width: 30px;
  }
  .dg .c input[type="text"]:hover, .dg .timeline input[type="text"]:hover{
    background: var(--bg-input-hover)!important;
    color: var(--text)!important;
  }
  .dg li:not(.folder,.timeline) :hover {
    background-color: var(--border);
  }
  /*
  .dg li.cr:nth-child(odd) .c input[type="text"] {
    background: var(--bg-input-hover) !important;
    color: var(--theme-color) !important;
    min-width: 30px;
  }
  
  .dg li.cr:nth-child(odd) .c input[type="text"]:hover {
    background: var(--bg-input) !important;
    color: var(--text) !important;
  }
  */
  
  
  .dg .c .slider-fg{
    background: var(--theme-color)!important;
  }
  .dg .c .slider-fg:hover{
    background: var(--theme-color-hover)!important;
  }
  .dg .c .slider {
    background: var(--bg-input)!important;
  }
  .dg .c .slider:hover {
    background: var(--bg-input-hover)!important;
  }
  /*
  .dg li.cr:nth-child(odd) .c .slider-fg{
    background: var(--theme-color-hover)!important;
  }
  .dg li.cr:nth-child(odd) .c .slider-fg:hover{
    background: var(--theme-color)!important;
  }
  .dg li.cr:nth-child(odd) .c .slider {
    background: var(--bg-input-hover)!important;
  }
  .dg li.cr:nth-child(odd) .c .slider:hover {
    background: var(--bg-input)!important;
  }*/
  
  .dg .cr.function:hover {
      background-color: #0f81b6 !important;
      color: #fff;
  }
  .property-name {
      width:25% !important;
  }
  .dg .c{
      width:75% !important;
  }
  .dg .slider{
      width:86% !important;
  }
  
  .dg .cr.function .property-name{
      width:100% !important;
  }
  .close-button{
    display: none;
  }
  .dg .c select {
      width: 100%;
      background-color: var(--bg-input);
      border-style: none;
      -webkit-appearance: toolbox;
      color: var(--theme-color)!important;
  }
  .dg .c select:hover{
    background-color: var(--bg-input-hover);
    color: var(--text)!important;
  }
  
  
  
  div.common-vertical-button-slot{
    position: sticky;
    bottom: 0;
    background-color: var(--bg-2);
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 10px;
  }
  
  div.common-horizontal-button-slot{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    gap: 10px
  }
  a.common-button{
    border-radius : 5px;
    background-color : var(--theme-color);
    cursor : pointer;
    width : 100%;
    color : #222;
    text-align : center;
    padding : 5px 3px;
    font-weight : bold;
    border: var(--border) 1px solid;
    white-space: nowrap;
  }
  a.common-button:hover{
    background-color : var(--theme-color-hover);
  }