.splitter-h {
    width: 100%;
    height: 100%;
    display: flex;
}
.splitter-v {
    width: 100%;
    height: 100%;
    display: block;
}

.splitter-separator-h {
    cursor: col-resize;
    background-color: var(--border);
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='30'><path d='M5 0 v30' fill='none' stroke='dimgrey'/></svg>");
    background-repeat: no-repeat;
    background-position: center;
    width: 5px;
    height: 100%;
    /* Prevent the browser's built-in drag from interfering */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
}
.splitter-separator-h:hover {
    transform: scaleX(2.2);
    z-index: 3;
}
.splitter-separator-v {
    cursor: row-resize;
    background-color: var(--border);
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='10'><path d='M0 5 h30' fill='none' stroke='dimgrey'/></svg>");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 5px;
    display: flex;
    /* Prevent the browser's built-in drag from interfering */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
}
.splitter-separator-v:hover {
    transform: scaleY(2.2);
    z-index: 3;
}
.panel-split-h {
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
}
.panel-split-v {
    width: 100%;
    float: left;
    position: relative;
}
