.plot-config{
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
  }
  
  .plot-config-row {
      position: relative;
    display: flex;
    flex-direction: column;
    gap:10px;
    width:100%;
    border-top: 1px solid;
    padding: 5px 10px 15px 10px;
  }
  .plot-config-row > div {
      position: relative;
    display: flex;
    flex-direction: row;
    width:100%;
    gap:10px;
  }
  .plot-config-row > div.advanced {
      display: none;
  }
  .plot-config-row  label{
    display: flex;
    gap: 2px;
    width:100%;
    flex-direction: column;
  }
   .plot-config-row  label > span {
     word-wrap: ellipsis;
    white-space: nowrap;
   } 
  .plot-config  select {
    width:100%;
    min-width:40px;
      min-height: 28px;
  }
  .plot-config  input[type="number"] {
    width:100%;
    min-height:28px;
  }
  .plot-config input[type="text"] {
    width:100%;
    min-height:28px;
  }
  .plot-config input[type="checkbox"] {
    width:28px;
    min-height:28px;
  }
  .plot-config input[type="color"] {
      -webkit-appearance: none;
      border: none;
      width: 28px;
      min-height: 28px;
  }
  
  
  .plot-config-row .close{
    display: none;
      position: absolute;
    top: -15px;
    right: -12px;
  }
  .plot-config-row:hover .close{
    display: block;
  }
  .plot-config-row .close:after {
    content: "\00d7";
    background-color: #b21111;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    padding: 0 3px;
  }
  
  
  .plot-config-row .more{
    display: none;
      position: absolute;
    bottom: -2px;
    left: 50%;
  }
  .plot-config-row:hover .more{
    display: block;
  }
  .plot-config-row .more:after {
    content: "\2195 ";
    background-color: #245eb4;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    padding: 0px 10px;
  }