/* VIEWER */

div.viewerHeaderPlayer{
    display: inline-flex;
    gap:15px;
    background-color: #111;
    width: 100%;
    padding: 0 15px;
    position: absolute;
    z-index: 1;
  }
  div.viewerHeaderPlayer > a{
    margin: 10px 0;
    cursor: pointer;
  }
  a.viewerBtnPrevStep {
    height: 0;
    width: 0;
    border-right: 12px solid #fff;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 3px solid #fff;
    border-radius: 21%;
  }
  a.viewerBtnPrevStep.disable {
    border-right: 12px solid #888;
    border-left: 3px solid #888;
    cursor: default;
  }
  a.viewerBtnNextStep {
    height: 0;
    width: 0;
    border-left: 12px solid #fff;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 3px solid #fff;
    border-radius: 21%;
  }
  a.viewerBtnNextStep.disable {
    border-left: 12px solid #888;
    border-right: 3px solid #888;
    cursor: default;
  }
  
  a.viewerBtnPlay {
    height: 0;
    width: 0;
    border-left: 15px solid #fff;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
  }
  
  a.viewerBtnPause {
    height: 15px;
    min-width: 15px;
    border: none;
    border-right: 5px solid white;
    border-left: 5px solid white;
    box-sizing: border-box;
  }
  
  a.viewerBtnRecord {
    height: 14px;
      min-width: 14px;
      margin-top: 2px;
      border-radius: 10px;
      border: 3px solid rgb(185, 62, 62);
      box-sizing: border-box;
  }
  a.viewerBtnRecord-on {
      border-radius: 7px;
      border: 7px solid rgb(185, 62, 62);
      box-sizing: border-box;
      animation: recon 3s linear alternate infinite;
  }
  
  @keyframes recon {
    10% {
    }
    50% {
      border: 2px solid rgb(185, 62, 62);
    }
    90% {
    }
  }
  a.viewerBtnDebug {
     -webkit-mask: var(--svg-debug);
            mask: var(--svg-debug);
    display: block;
    background: #fff;
    height: 16px;
    min-width: 16px;
  }
  .viewerBtnPlot {
    -webkit-mask: var(--svg-plot);
            mask: var(--svg-plot);
    background: #fff;
    margin: 5px 0 !important;
    width: 25px;
    height: 25px;
  }
  
  a.viewerBtnStop {
    height: 15px;
    width: 15px;
    border: none;
    border-right: 15px solid rgb(185, 62, 62);
    box-sizing: border-box;
  }
  
  div.debugView {
      width :100%;
      height : 100%;
      margin : 0;
      padding : 0;
      background-color: var(--bg-4);
      color: var(--text-2);
      overflow-y : auto;
  }
  
  
  div.colorPickerDiscret {
    display: flex;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
    margin: 10px 5px;
  }
  
  div.colorPickerDiscret > label > span {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
  }
  div.colorPickerDiscret > label {
    margin-top: 10px;
  }
  
  div.colorPickerDiscret > label > input {
    display: none;
  }
  
  div.colorPickerGradient {
      display: flex;
      flex-direction: column;
      margin: 10px 5px;
      gap: 10px;
  }
  
  div.colorPickerGradient > div > input{
      width: 40px;
      padding: 3px;
      background-color: var(--bg-input);
      border-style: none;
      -webkit-appearance: toolbox;
      color: var(--theme-color);
  }
  
  div.colorPickerGradient > div > input:hover{
    background-color: var(--bg-input-hover);
    color: var(--text);
  }
  div.colorPickerGradient > div > input:nth-child(1){
      float: left;
  }
  div.colorPickerGradient > div > input:nth-child(2){
      float: right;
  }